body {
    display: block;
    margin: 0px;
    padding: 0;
    background-color: #009edb;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    display: block;
    margin: 20px;
    padding: 0;
    color: #28262C;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

h2 {
    display: block;
    margin: 20px;
    padding: 0;
    color: #28262C;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(32);
    -webkit-filter: blur(8px);
    z-index: -1;
}

.header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #F6F7EB;
    position: absolute;
}

hr.solid {
    margin: 20px;
    padding: 0;
    width: 50vw;
    border: 1px solid #F6F7EB;
    border-radius: 5px;
}

.signin {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: #28262C;
    background-color: #F6F7EB;
    cursor: pointer;
    transition: all .6s ease;
}

.signin svg {
    height: 24px;
}

.signin:hover {
    transform: scale(1.1);
}